body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e0d1bd, #00809D);
}

.student-heading {
    text-align: center;
    background-color: rgb(9, 86, 86);
    font-size: 40px;
    color: rgb(188, 207, 80);
    font-style: italic;
    font-weight: bold;
    padding: 12px;
}

.student_div-style {
    max-width: 700px;
    margin: 50px auto;
    padding: 25px;
    background: linear-gradient(to right, #00809D, #947f63);
    border-radius: 25px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.student_img-fac {
    width: 180px;
    height: 180px;
    border-radius: 1000px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
}

.student-text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    line-height: 1.5;
}

.stu_opt-sty ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.stu_opt-sty li {
    background: linear-gradient(to left, #1d94de, #60693a);
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 3px 5px 5px black;
    position: relative;
}

.stu_opt-sty li::before {
    content: '✔';
    margin-right: 8px;
    color: lime;
}

.student-details-heading {
    color: #f2f728;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 15px;
}

.student-details {
    font-size: 20px;
    background: #d9dcd6;
    margin: 0 auto;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 4px 6px 0px rgba(0, 0, 0, 0.7);
}

.student-details td {
    padding: 8px 20px;
}

.student-details a {
    color: blue;
    text-decoration: underline;
}
