body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e0d1bd, #00809D);
}

.student-heading {
    text-align: center;
    background-color: rgb(9, 86, 86);
    font-size: 40px;
    color: rgb(188, 207, 80);
    font-style: italic;
    font-weight: bold;
    padding: 12px;
}

.student_div-style {
    max-width: 700px;
    margin: 50px auto;
    padding: 25px;
    background: linear-gradient(to right, #00809D, #947f63);
    border-radius: 25px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.student_img-fac {
    width: 180px;
    height: 180px;
    border-radius: 1000px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
}

.student-text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    line-height: 1.5;
}

.stu_opt-sty ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.stu_opt-sty li {
    background: linear-gradient(to left, #1d94de, #60693a);
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 3px 5px 5px black;
    position: relative;
}

.stu_opt-sty li::before {
    content: '✔';
    margin-right: 8px;
    color: lime;
}

.student-details-heading {
    color: #f2f728;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 15px;
}

.student-details {
    font-size: 20px;
    background: #d9dcd6;
    margin: 0 auto;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 4px 6px 0px rgba(0, 0, 0, 0.7);
}

.student-details td {
    padding: 8px 20px;
}

.student-details a {
    color: blue;
    text-decoration: underline;
}


.svc-header {
    background-color: #3cb9dc;
    color: white;
    padding: 20px;
    text-align: center;
}

.svc-title {
    margin: 0;
    font-size: 28px;
}

.svc-subtitle {
    margin-top: 5px;
    font-size: 16px;
}

.svc-student-info {
    background: rgb(77, 158, 225);
    padding: 15px 20px;
    text-align: center;
    margin: 20px auto;
    width: 85%;
    font-size: 20px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.svc-section-title {
    margin-bottom: 10px;
    color: #cadbd8;
    text-align: center;
    font-size: 30px;
}

.svc-table-section {
    background: rgb(58, 149, 201);
    padding: 20px;
    margin: 20px auto;
    width: 85%;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.svc-table {
    border-collapse: collapse;
    width: 100%;
    border-color: #00332b;
}

.svc-table th, .svc-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.svc-table th {
    background-color: #093053;
    color: white;
    text-transform: uppercase;
}

.svc-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.svc-footer {
    text-align: center;
    padding: 15px;
    background: #1d86a0;
    color: white;
    margin-top: 20px;
}

.sr-header {
    background-color: #408ad9;
    color: rgb(230, 243, 157);
    padding: 20px;
    text-align: center;
}

.sr-title {
    margin: 0;
    font-size: 28px;
}

.sr-subtitle {
    font-size: 14px;
    margin-top: 5px;
}

.sr-student-info {
    background:linear-gradient(to right, rgb(117, 194, 239),rgb(74, 208, 223));
    padding: 15px 20px;
    margin: 20px auto;
    width: 85%;
    text-align: center;
    font-size: 25px;
    box-shadow: 0px 12px 18px rgba(0,0,0,0.1);
    border-radius: 8px;
    line-height: 1.6;
}

.sr-section-title {
    margin-bottom: 10px;
    color: #c7cc28;
    font-size: 20px;
}

.sr-table-section {
    background: rgb(37, 182, 198);
    padding: 20px;
    margin: 20px auto;
    width: 85%;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.sr-table {
    border-collapse: collapse;
    width: 100%;
}

.sr-table th, .sr-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #1d7795;
    text-align: left;
}

.sr-table th {
    background-color: #283593;
    color: white;
    text-transform: uppercase;
}

.sr-table tbody tr:nth-child(even) {
    background-color: #acc2d1;
}

.sr-summary {
    background: rgb(48, 211, 216);
    padding: 15px 20px;
    margin: 20px auto;
    text-align: center;
   max-width: 300px;
    box-shadow: 0px 12px 18px rgba(0,0,0,0.1);
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.6;
}

.sr-footer {
    text-align: center;
    padding: 15px;
    background: #1a237e;
    color: white;
    margin-top: 20px;
}
