
    body {
      margin: 0;
      padding-left:0px;
       background: linear-gradient(to right, #e0d1bd, #00809D);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    u{
        text-decoration-line: underline;
       text-decoration-color: rgb(3, 144, 144);
        text-decoration-thickness: 5px;
          box-shadow: 5px 12px 22px rgba(0,0,0,0.1);

    }

    h1 {
      margin-top: 40px;
      color: #1a0404;
      padding-left: 0px;
      text-align: center;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
       background: linear-gradient( to left,#8b8de9, #0d5475);
       border-radius:50px;
       border-color: #1a0404;
      border-width: 50px;
      gap: 30px;
      padding: 50px;
      max-width: 800px;
      width: 100%;
    }

    .grid-item {
      text-align: center;
     background: radial-gradient( #5151cf, #acacc7);
      padding: 20px;
      border-radius: 50px;
      box-shadow: 5px 12px 28px rgba(19, 7, 7, 0.1);
      transition: transform 0.2s, box-shadow 0.2s;
    }

    .grid-item:hover {
      transform: translateY(-2px);
      border: 2.2px solid #4bcee9;
      box-shadow: 1px 32px 32px rgba(7, 1, 1, 0.2);
    }


  