body{
    padding-left: 15px;
    background: linear-gradient(to left,#00809D,#e0d1bd)  ;
    align-items: center;
}
.fa-heading{
 text-align: center;
 background-color: rgb(9, 86, 86);
 font-size: 40px;
 color: rgb(188, 207, 80);
 font-style: oblique;
}
.img-fac{
    align-items: center;
display: block;
margin-left: auto;
margin-right: auto;
gap: 10px;
 width: 200px;
 height: 200px;
border-radius:50%;   /* Makes it circular */
      box-shadow:  1px 12px 18px rgb(84, 88, 58);
      margin: 20px;       
      transition: transform 1.3s ease,box-shadow 0.3s ease; 
}
.div-style{
    display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
    padding-bottom: 100px;
    font-size: 20px;
    max-width: 700px;
    max-height: 700px;
background: linear-gradient(to right,#00809D,#947f63);
border-radius: 45px;
margin-block: 8px;
box-shadow: 0 12px 18px black;
transition: transform 1.3s ease,box-shadow 0.3s ease;
}
.div-style:hover{
    background: radial-gradient(#c8bd88,#46620a);
    border: #F97A00;
    transform : scale(1.1);
    overscroll-behavior-x: 0px 12 px 32px rgb(0,0,1.5);
}
.img-fac:hover{
    background: radial-gradient(#FCF8DD,#46620a);
    border: #F97A00;
    transform : scale(1.5);
    overscroll-behavior-x: 0px 12 px 32px rgb(0,0,1.5);
}
.list-style{
    list-style: none;
    gap: 20px;
    display: flex;
}
.list-style li {
    background: linear-gradient(to left, #1d94de, #60693a);
    color: #FCF8DD;
 /* aligns text after checkbox */
    position: relative;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px black;
    padding: 1px 1px 3px 40px; /* extra space on left */
    margin: 5px;
    min-width: 110px;
      text-align: left;
    transition: transform 1.5s ease, box-shadow 0.5s ease;
}

.list-style li::before{
    content: '✔';
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    height: 15px;
    width: 15px;
    color: rgb(151, 226, 39);
    background-color: rgb(118, 130, 95);
    display: flex;
    align-content: left;

}
.image-and-links {
    display: flex;
     flex-direction: column;
    align-items: center;
}
