body{
    padding-left: 15px;
    background: linear-gradient(to left,#00809D,#e0d1bd)  ;
}
.fa-heading{
 text-align: center;
 background-color: rgb(9, 86, 86);
 font-size: 40px;
 color: rgb(188, 207, 80);
 font-style: oblique;
}
.img-fac{
    align-items: center;
display: block;
margin-left: auto;
margin-right: auto;
gap: 10px;
 width: 200px;
 height: 200px;
border-radius:50%;   /* Makes it circular */
      box-shadow:  1px 12px 18px rgb(84, 88, 58);
      margin: 20px;       
      float: left;  
}
.div-style{
    display: block;
margin-left: auto;
margin-right: auto;
    align-items: center;
    padding-bottom: 100px;
    font-size: 20px;
    max-width: 500px;
    max-height: 700px;
background: linear-gradient(to right,#00809D,#947f63);
border-radius: 8px;
margin-block: 8px;
box-shadow: 0 12px 18px black;
}